profile=janestreet
margin=100
max-indent=4
cases-exp-indent=4
type-decl=compact
let-binding-spacing=compact
let-and=compact
single-case=sparse
sequence-style=separator
if-then-else=compact
parens-ite=false
leading-nested-match-parens=false
parens-tuple=multi-line-only
parens-tuple-patterns=multi-line-only
break-cases=all
break-infix=fit-or-vertical
break-separators=after
break-sequences=true
break-before-in=fit-or-vertical
break-collection-expressions=fit-or-vertical
break-infix-before-func=false
break-fun-decl=wrap
break-fun-sig=wrap
field-space=loose
dock-collection-brackets=true
ocp-indent-compat=false