margin=80
wrap-fun-args=false
parens-tuple=multi-line-only
parens-tuple-patterns=multi-line-only
type-decl=compact
single-case=sparse
break-cases=all
dock-collection-brackets=true
ocp-indent-compat=false